name: CI
on:
  push:
    branches: ["main"]
    tags: ["v*"]
  pull_request:
    branches: ["*"]

env: 
  JAVA_OPTS: "-Xmx4G"
  JVM_OPTS: "-Xmx4G"
  SBT_OPTS: "-Xmx4G"

jobs:
  build:
    name: CI ${{ matrix.os }} (java ${{ matrix.java }})
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-11]
        java: [11]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Setup git config
        run: git config --global core.autocrlf false
        if: runner.os == 'Windows'
      
      - name: Configure Pagefile
        uses: al-cheb/configure-pagefile-action@v1.2
        with:
          minimum-size: 4GB
          maximum-size: 16GB
        if: runner.os == 'Windows'
      
      - uses: actions/checkout@v2

      - uses: coursier/cache-action@v3      

      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' 
          java-version: '${{ matrix.java }}'
      
      - name: Test
        run: sbt test scripted

  release:
    name: Release
    needs: [build]
    if: github.event_name != 'pull_request' && (startsWith(github.ref, 'refs/tags/v') || github.ref == 'refs/heads/main')
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: coursier/cache-action@v3      
      - uses: actions/setup-java@v2
        with:
          distribution: 'temurin' 
          java-version: '11'
      - run: git fetch --unshallow
      - name: Publish ${{ github.ref }}
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
